<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.interview.mapper.question.QuestionStoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.interview.entity.question.QuestionStore">
        <result column="id" property="id" />
        <result column="type" property="type" />
        <result column="module" property="module" />
        <result column="tags" property="tags" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="image_path" property="imagePath" />
        <result column="code_type" property="codeType" />
        <result column="code_content" property="codeContent" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumns">
        a.id,
        a.type,
        a.module,
        a.tags,
        a.title,
        a.content,
        a.image_path,
        a.code_type,
        a.code_content,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.del_flag,
        a.remarks
    </sql>

    <update id="updateQuestion">
        UPDATE question_store SET
        <if test="question != null">
            <if test="question.type != null and question.type != ''">
                type = #{question.type}
            </if>
            <if test="question.module != null and question.module != ''">
                module = #{question.module}
            </if>
            <if test="question.tags != null and question.tags != ''">
                tags = #{question.tags}
            </if>
            <if test="question.title != null and question.title != ''">
                title = #{question.title}
            </if>
            <if test="question.content != null and question.content != ''">
                content = #{question.content}
            </if>
            <if test="question.imagePath != null and question.imagePath != ''">
                image_path = #{question.imagePath}
            </if>
            <if test="question.codeType != null and question.codeType != ''">
                code_type = #{question.codeType}
            </if>
            <if test="question.codeContent != null and question.codeContent != ''">
                code_content = #{question.codeContent}
            </if>
        </if>
        WHERE id = #{question.id}
        AND del_flag = "0"
    </update>
    
    <update id="deleteQuestion">
        UPDATE  question_store  SET update_date = NOW(), del_flag = "1" WHERE id = #{id}
    </update>

    <select id="listPage" resultMap="BaseResultMap">
        SELECT
            <trim>
                <include refid="BaseColumns"/>
            </trim>
        FROM question_store a
        <where>
            <if test="question != null">
                <if test="question.title != null and question != ''">
                    AND a.title LIKE CONCAT ('%', #{question.title}, '%')
                </if>
                <if test="question.type != null and question.type != ''">
                    AND a.type = #{question.type}
                </if>
                <if test="question.module != null and question.module != ''">
                    AND a.module = #{question.module}
                </if>
                <if test="question.tags != null and question.tags != ''">
                    AND a.tags = #{question.tags}
                </if>
                AND a.del_flag = "0"
            </if>
        </where>
        ORDER BY a.create_date DESC
    </select>

</mapper>
