<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.interview.mapper.resume.ResumeFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.interview.entity.resume.ResumeFile">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="tags" property="tags" />
        <result column="file_path" property="filePath" />
        <result column="file_name" property="fileName" />
        <result column="file_type" property="fileType" />
        <result column="file_size" property="fileSize" />
        <result column="file_resource" property="fileResource" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumns">
        a.id,
        a.user_id,
        a.user_name,
        a.tags,
        a.file_path,
        a.file_name,
        a.file_type,
        a.file_size,
        a.file_resource,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.del_flag,
        a.remarks
    </sql>
    
    <update id="delResumeFile">
        UPDATE resume_file SET del_flag = "1" AND update_date = NOW() WHERE id = #{id}
    </update>
    
    <select id="listPage" resultMap="BaseResultMap">
        SELECT
            <trim>
                <include refid="BaseColumns"></include>
            </trim>
        FROM resume_file a
        <where>
            <if test="resumeFile != null">
                <if test="resumeFile.fileName != null and resumeFile.fileName != ''">
                    AND a.file_name LIKE CONCAT ('%', #{resumeFile.fileName}, '%')
                </if>
                <if test="resumeFile.fileType != null and resumeFile.fileType != ''">
                    AND a.file_type = ('%', #{resumeFile.fileType}, '%')
                </if>
                <if test="resumeFile.fileResource != null and resumeFile.fileResource != ''">
                    AND a.file_resource = ('%', #{resumeFile.fileResource}, '%')
                </if>
                <if test="resumeFile.tags != null and resumeFile.tags != ''">
                    AND a.tags = ('%', #{resumeFile.tags}, '%')
                </if>
                <if test="resumeFile.createBy != null and resumeFile.createBy != ''">
                    AND a.create_by = ('%', #{resumeFile.createBy}, '%')
                </if>
                AND a.del_flag = "0"
            </if>
        </where>
        ORDER BY a.create_date DESC
    </select>

</mapper>
