<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.interview.mapper.sys.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.interview.entity.sys.User">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="login_account" property="loginAccount" />
        <result column="password" property="password" />
        <result column="user_name" property="userName" />
        <result column="phone" property="phone" />
        <result column="gender" property="gender" />
        <result column="type" property="type" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="expire_duration" property="expireDuration" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumns">
        a.id,
        a.parent_id,
        a.login_account,
        a.password,
        a.user_name,
        a.phone,
        a.gender,
        a.type,
        a.last_login_time,
        a.expire_duration,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.del_flag,
        a.remarks
    </sql>

    <update id="delUser">
        UPDATE sys_user SET del_flag = "1", update_date = NOW() WHERE id = #{id};
    </update>

    <update id="updateUser">
        UPDATE sys_user SET
        <trim suffixOverrides=",">
            <if test="user != null">
                <if test="user.password != null and user.password != ''">
                    password = #{user.password}
                </if>
                <if test="user.userName != null and user.userName != ''">
                    user_name = #{user.userName}
                </if>
                <if test="user.phone != null and user.phone != ''">
                    phone = #{user.phone}
                </if>
                <if test="user.phone != null and user.phone != ''">
                    phone = #{user.phone}
                </if>
                <if test="user.expireDuration != null and user.expireDuration != ''">
                    expire_duration = #{user.expireDuration}
                </if>
                <if test="user.updaeBy != null and user.updaeBy != ''">
                    update_by = #{user.updaeBy}
                </if>
            </if>
        </trim>
        WHERE id = #{user.id}
        AND del_flag = "0"
    </update>

    <select id="login" resultMap="BaseResultMap">
        SELECT
            <trim>
                <include refid="BaseColumns" />
            </trim>
        FROM sys_user a
        <where>
            <if test="user != null">
                <if test="user.loginAccount != null and user.loginAccount != ''">
                    AND a.login_account = #{user.loginAccount}
                </if>
                <if test="user.password != null and user.password != ''">
                    AND a.password = #{user.password}
                </if>
                AND a.del_flag = "0"
            </if>
        </where>
    </select>

    <select id="listPage" resultMap="BaseResultMap">
        SELECT
            <trim>
                <include refid="BaseColumns" />
            </trim>
        FROM sys_user a
        <where>
            <if test="user != null">
                <if test="user.userName != null and user.userName != ''">
                    AND a.user_name LIKE CONCAT('%',#{user.userName},'%')
                </if>
                <if test="user.phone != null and user.phone != ''">
                    AND a.gender = #{user.gender}
                </if>
                <if test="user.type != null and user.type != ''">
                    AND a.type = #{user.type}
                </if>
                AND a.del_flag = "0"
            </if>
        </where>
        ORDER BY a.create_date DESC
    </select>

    <select id="getUserByAccount" resultMap="BaseResultMap">
        SELECT
            <trim>
                <include refid="BaseColumns" />
            </trim>
        FROM sys_user a
        <where>
            a.login_account = #{loginAccount}
            AND a.del_flag = "0"
        </where>
    </select>

</mapper>
